

.form_container {
  position: relative;
  margin-top: 10%;
  border-radius: 15px;
  margin-right: 40%;
  padding: 20px 10px;
  width: 98%;
}

.info {
  margin-right: 80px;
}


.form_content {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  padding: 40px 15px;
  width: 35%; 
  align-items: center;
  margin: 40px;
  margin-bottom: 140px;
  margin-left: 55%;
  border: 3px solid rgb(54, 15, 99);
  /* background: linear-gradient( to right, rgb(126, 35, 50), rgb(115, 33, 47)); */
 }


 .text_name {
   color:rgb(51, 7, 48);
   font-size: 17px;
   margin-bottom: 2px;
 }

 .text_email {
  color: rgb(51, 7, 48);
  font-size: 17px;
  margin-bottom: 2px;

 }
 .text_info {
   color: rgb(51, 7, 48);
   margin-top: 18px;
   font-size: 17px;
 }

 .select {
   margin-top: 8px;
   margin-left: 28px;
 }

 .form_label_2 {
   margin-top: 8px;
 }

 .text_info_message {
   margin-top: 26px;
 }

 .message {
   color: rgb(51, 7, 48);
   margin-top: 19px;
   font-size: 17px;
 }


 .submit-button {
   border: 2px solid rgb(51, 7, 48);
   border-radius: 8px;
   background-color: rgb(222, 129, 188);
   padding: 10px 19px;
   margin-top: 20px;
   width: 26%;

 
 }

 .submit-button:hover {
   cursor: pointer;
 }

 .submit {
   color: rgb(242, 231, 240);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
   
 }

 .submit_text {
   font-family: "crimson-text" serif;
   color:rgb(53, 12, 48);
 }

.success {
  color: green;
}


.error {
  color: red;
}


@media screen and (max-width: 680px) {
  .form_container {
    margin: auto;
    width: 40%;
  }
 }

 @media screen and (max-width: 385px) {
  .form_content {
    margin: auto;
    width: 70%;
  }
 }


@media screen and (max-width: 880px) {
 .form_content {
   margin-left: 20%;
   width: 50%;
 }
}

@media screen and (max-width: 564px) {
  textarea {
    width: 90%;
  }
}

@media screen and (max-width: 564px) {
  .submit-button {
    width: 70%;
  }
}

@media screen and (max-width: 564px) {
  .form_content {
    width: 100%;
  }
}

 
@media screen and (max-width: 674px) {
  textarea {
    width: 50%;
  }
 }
 

@media screen and (max-width: 660px) {
  .submit-button {
    width: 60%;
  }
 }
 
 @media screen and (max-width: 660px) {
  textarea {
    width: 75%;
  }
 }
 

@media screen and (max-width: 677px) {
  .form_content {
    margin-top: 20px;
    width: 100%;
  }
}


@media screen and (max-width: 714px) {
  .form_content {
    margin-left: 18%;
  }
}

@media screen and (max-width: 61em) {
  .form_content {
    margin-top: 20px;
    margin-left: 26%;
  }
}

@media screen and (max-width: 28em) {
  .form_content {
    margin-left: -26px;
    width: 130%;
  }
}

