@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Cormorant+Infant:wght@300&family=Crimson+Text&family=Inter:wght@200&family=Manrope&family=Montserrat:wght@100&family=Playfair+Display+SC:ital@0;1&family=Roboto:wght@100;400&family=Shantell+Sans:wght@300&display=swap');

body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  background: linear-gradient( to left, rgb(188, 142, 168) 25%, rgb(224, 78, 176) 60%, rgb(102, 38, 154) 85%, rgb(36, 33, 79) 75%);

}

.container {
 background-color: rgb(77, 40, 125);
}

.main_container {
 height: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-content: space-between;
}

.main_container_left {
  font-family: 'Crimson Text', serif;
  margin-top: 40px;
  margin-left: 50%;
}

.main_container_left h4 {
  font-family: "Crimson Text", serif;
  color:rgb(88, 26, 98);
}


.blocks_img {
  position: absolute;
  left: 19%;
  height: 5%;
  width: 8%;

 
}

.main_container_left h1 {
  font-family: "Crimson Text", serif;
  color:rgb(88, 26, 98);
  border-bottom: 2px solid purple;
}
.main_container_left p {
 font-family: 'Crimson Text', serif;
 font-size: 19px;
 margin-left: -65px;
 width: 140%;
 color: rgb(37, 6, 114);
}


.main_container_right {
position: absolute;
left: 65%;
}


.main_container_right img {
  height: 750px;
  width: 540px;
  
}

.desk_img img {
  position: absolute;
  right: 10px;
  top: 75%;
  height: 60%;
  width: 110%;
  border-bottom: 3px solid rgb(94, 69, 69);
 
}

.btn {
  margin-top: 10%;
}

.btn_lg {
  border: 2px solid rgb(183, 131, 231);
  border-radius: 22px;
  width: 8px;
  padding: 10px 15px;
  background-color: blueviolet;
  text-decoration: none;
  font-size: 17px;
  color: rgb(216, 198, 230);
}

.btn_lg:hover {
  color: rgb(212, 85, 11);
}

/* blog information */
.blog_info {
  display: inline-block;
  margin-right: 40%;
}

.blog_info p {
  font-family: 'Crimson Text', serif;
  position: absolute;
  top: 145%;
  border: 3px solid rgb(17, 17, 87);
  font-size: 22px;
  margin-left: 17%;
  padding: 10px 10px;
  width: 30%;
}

.p_text i {
  position: absolute;
  top: 145%;
  left: 25%;
  font-size: 260%;
  color: rgb(17, 17, 87);
}

.ecliptic {
  margin-top: 45%;
  margin-left: 18%;
}

.ecliptic_container {
  display: inline-block;
}

.ecliptic_red {
  position: relative;
  top: 20px;
  left: 180%;
  margin-bottom: 30px;
}

.girl_container {
  position: relative;
  display: inline-block;
}

.girlie {
  position: relative;
  bottom: 10px;
  left: 156%;
  height: 70%;
  width: 70%;
}

/* left */

.desc_container {
  position: relative;
  top: 60px;
  width: 70%;
  margin: auto;
  margin-bottom: 70%; 
  opacity: 10;
  transform: translateY(60%);
  transition: all 0.8s ease-out;
}

/* animating the container */

.desc_container.animate {
  opacity: 3;
  transform: translateY(10%);
}

.desc_left {
  position: absolute;
  font-family: 'Crimson Text', serif;
  font-size: 19px;
  color:rgb(65, 18, 73);
  width: 100%;
  bottom: 279px;
  left: 14%;
}

/* right */

.desc2_container {
  position: relative;
  left: 110%;
  font-family: 'Crimson Text', serif;
  border: 2px solid rgb(46, 41, 125);
  font-size: 18px;
  color:   rgb(37, 6, 114);
 
}

.desc2_left_container {
  position: absolute;
  right: 140%;
}

.desc_right {
  position: absolute;

}


.mail_us_container {
  border: 3px solid rgb(115, 37, 133);
  width: 100%;
  padding: 20px 10px ;
  position: absolute;  
  left: 0%;
  top: 296%;
  background-color: rgb(220, 209, 87);
}

button {
  padding: 10px 10px;
  border: 2px solid red;
  border-radius: 12px;
  background-color: blueviolet;
  color:aliceblue;
  cursor: pointer;
}

.mail_us h2 {
  font-family:'Crimson Text', serif;
  color:rgb(49, 18, 78);
}




/* mobile first left container */









@media all and (max-width: 52em) {
  .main_container_left {
   margin-left: 60%;
   width: 90%;
  }
}

@media all and (max-width: 52em) {
  .blocks_img {
  position: absolute;
  bottom: 40%;
  left: 47%;
  height: 20px;
  width: 14%;
  
 }
}



@media all and (max-width: 824px) {
  .blocks_img {
    margin-top: 15%;
    margin-left: 22%;
  }
}


@media all and (max-width: 824px) {
  .main_container_right {
   height: 60%;
   width: 50%;
   margin-left: 20px;
  }
}



@media all and (max-width: 52em) {
  .main_container_right  {
    position: absolute;
    left: 240px;
    top: 110%;
    
  }
} 


@media all and (max-width: 52em) {
  .main_container_right img {
    position: relative;
    right: 29%;
    height: 358px;
    width: 300px;
  }
}



@media all and (max-width: 52em) {
  .desk_img {
    position: absolute;
    top: 95%;
   
  }
}

@media all and (max-width: 52em) {
  .blog_info {
    margin-top: 57%;    
  }
}

@media all and (max-width: 52em) {
  .blog_info p {
    margin-top: 66%; 
    font-size: 16px;
    width: 34%;   
  }
}






@media all and (max-width: 52em) {
  .blog_info i {
    margin-top: 64%; 
    font-size: 24px; 
  }
}

@media all and (max-width: 52em) {
  .ecliptic {
     height: 70%;
     width: 70%;
  }
}



@media all and (max-width: 52em) {
  .desc_left span {
    font-size: 15px;
  }
}


@media all and (max-width: 52em) {
  .desc_left h1 {
    font-size: 26px;
  }
}





@media all and (max-width: 52em) {
  svg {
    margin-top: 48%;    
  }
}


  
@media all and (max-width: 62em) {
  .mail_us_container {
   margin-top: 0%;
    
  }
}

@media all and (max-width: 65em) {
  .desc_right {
    margin-top: -20px;
  }
}

@media all and (max-width: 65em) {
  .desc_right h1 {
    margin-top: -20px;
  }
}




/* larger screens */

@media all and (max-width: 76em) {
  .main_container_left {
   margin-left: 49%;
   width: 70%;
  }
}

@media all and (max-width: 76em) {
  .main_container_right img {
    height: 90%;
    width: 80%;
    margin-top: -40px;
    margin-left: 65px;
    
  }
}


@media all and (max-width: 76em) {
  .desc_container h1 {
    font-size: 29px;
 
  }  
  }

@media all and (max-width: 76em) {
  .desc_left  {
    margin-bottom: -70%;
    font-size: 16px;
    
  }
}


@media all and (max-width: 76em) {
  .desc_right span {
    font-size: 16px;
    
  }
}

@media all and (max-width: 76em) {
  .ecliptic_red {
    position: absolute;
    left: 70%;
    top: 140%;
    margin:0;
    height: 30%; 
    width: 60%px; 

    
  }
}


@media all and (max-width: 76em) {
  svg {
  margin-top: 23%
    
  }
}


@media all and (max-width: 76em) {
  .main_container_left p {
   font-size: 17px;
  }
}



@media all and (max-width: 76em) {
  .blocks_img {
  position: absolute;
  top:24%;
  left: 38%;
  height: 28px;
  width: 14%;
  
 }
}

@media all and (max-width: 76em) {
  .blog_info p {
    position: absolute;
    top: 116%;
    font-size: 18px;
 
  }  
  }
 
  @media all and (max-width: 76em) {
   .blog_info i {
     position: absolute;
     top: 117%;
     font-size: 27px;
  
   }  
   }

      
  @media all and (max-width: 76em) {
    .mail_us_container {
     margin-top: 20%;
      
    }
  }
  


@media all and (max-width: 86em) {
  .blocks_img {
  position: absolute;
  top:38%;
  left: 16%;
  height: 28px;
  width: 10%;
  
 }
}


@media all and (max-width: 86em) {
  .main_container_right img {
    height: 90%;
    width: 100%;
    margin-top: -62px;
    margin-left: 15px;
    
  }
}





  /* Bigger screens*/

  @media all and (max-width: 86em) {
    .blog_info p {
      position: absolute;
      top: 136%;
      font-size: 18px;
   
    }  
    }
   
    @media all and (max-width: 86em) {
     .blog_info i {
       position: absolute;
       top: 136%;
       font-size: 27px;
    
     }  
     }

     @media all and (max-width: 86em) {
      .desc_left span {
        font-size: 16px;
     
      }
    }
    
    
    @media all and (max-width: 86em) {
      .desc_left h1 {
        font-size: 26px;
        
      }
    }
    
     
    @media all and (max-width: 86em) {
      .desc_right h1 {
        font-size: 26px;
        
      }
    }

    @media all and (max-width: 86em) {
      .desc_right span {
        font-size: 15px;
        
      }
    }
    
  
  





