.contactus_container {
  border: 2px solid rgb(15, 15, 144);
  border-radius: 10px;
  background-color: rgb(55, 122, 181);
  height: 110%;
  width: 40%;
  float: left;
  margin-left: 90px;
  margin-top: 70px;
}

.contactus_container p {
  text-align: center;
  font-size: 18px;
  color: rgb(239, 239, 239);
}

.contactus_container h3 {
  text-align: center;
  padding: 5px;
  color: rgb(100, 48, 48);
}

.contact_heading {
 text-align: center;
 font-size: 28px;
 color: rgb(239, 239, 239);

}

.contactus_container_2 {
  background-color: rgb(37, 91, 137);
  border-radius: 8px;
  width: 70%;
  margin-left: 15%;
}

.contactus_container_2 p {
  font-size: 18px;
  text-align: center;
  color: #fff;
}


/* Media queries large to small */



@media screen and (min-width: 502px) {
  .contactus_container {
    width: 35%;
  }
}



@media screen and (max-width: 682px) {
  .contactus_container {
    width: 80%;
  }
}



@media screen and (max-width: 686px) {
  .contactus_container {
    width: 80%;
  }
}

@media screen and (max-width: 988px) {
  .contactus_container {
    margin-left: 30%;
  }
}

@media screen and (max-width: 52em) {
  .contactus_container {
    width: 40%;
  }
}

@media screen and (max-width: 42em) {
  .contactus_container {
    width: 50%;
  }
}

@media screen and (max-width: 44em) {
  .contactus_container {
    width: 50%;
  }
}

@media screen and (max-width: 40em) {
  .contactus_container {
    width: 50%;
  }
}

@media screen and (max-width: 42.3em) {
  .contactus_container {
    margin-left: 23px;
    width: 110%;
  }
}


@media screen and (max-width: 36em) {
  .contactus_container {
    width: 110%;
  }
}

@media screen and (max-width: 21em) {
  .contactus_container {
    width: 150%;
  }
}

/* Contact Us Container */

@media screen and (max-width: 28em) {
  .contactus_container_2 p {
    color: black;
    background-color: #fff;
    margin-left: -19px;
    white-space: nowrap;
    font-size: 15px;
  }
}


@media screen and (max-width: 28em) {
  .contactus_container {
    height: 50%;
    width: 150%;
    margin-top: -10px;
    margin-left: -23px;
  }
}




