.contactus_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(54, 15, 99);
  border-radius: 10px;
  background-color:  rgb(213, 150, 197);
  padding: 50px 10px;
  height: 110%;
  width: 40%;
  float: left;
  margin-left: 16%;
  margin-top: 40px;
}

.contactus_container p {
  text-align: center;
  font-family: "crimson-text" serif;
  font-size: 18px;
  color: rgb(45, 6, 49);
}



.contact_infos a:visited {
 color: #230246;
}

.contact_heading {
 text-align: center;
 font-family: 'Crimson Text', serif;
 border-bottom: 2px solid purple;
 font-size: 28px;
 color: rgb(106, 21, 143);

}

/* .contactus_container_2 {
 
  border-radius: 8px;
  width: 50%;
  margin-left: 25%;
} */

.contactus_container_2 p {
  display: inline-block;
  font-family: 'Crimson Text', serif;
  margin-left: 6%;
  margin-top: 17px;
  font-size: 32px;
  color:rgb(54, 15, 97);
  border-bottom: 2px solid purple;
}


/* Media queries large to small */



@media screen and (min-width: 502px) {
  .contactus_container {
    width: 35%;
  }
}



@media screen and (max-width: 682px) {
  .contactus_container {
    width: 80%;
  }
}



@media screen and (max-width: 686px) {
  .contactus_container {
    width: 80%;
  }
}

@media screen and (max-width: 988px) {
  .contactus_container {
    margin-left: 30%;
  }
}

@media screen and (max-width: 52em) {
  .contactus_container {
    width: 40%;
  }
}

@media screen and (max-width: 42em) {
  .contactus_container {
    width: 50%;
  }
}

@media screen and (max-width: 44em) {
  .contactus_container {
    width: 50%;
  }
}

@media screen and (max-width: 40em) {
  .contactus_container {
    width: 50%;
  }
}

@media screen and (max-width: 42.3em) {
  .contactus_container {
    margin-left: 23px;
    width: 110%;
  }
}


@media screen and (max-width: 36em) {
  .contactus_container {
    width: 110%;
  }
}

@media screen and (max-width: 21em) {
  .contactus_container {
    width: 150%;
  }
}

/* Contact Us Container */

@media screen and (max-width: 28em) {
  .contactus_container_2 p {
    color: black;
    background-color: #fff;
    margin-left: -19px;
    white-space: nowrap;
    font-size: 15px;
  }
}


@media screen and (max-width: 28em) {
  .contactus_container {
    height: 50%;
    width: 150%;
    margin-top: -10px;
    margin-left: -23px;
  }
}




