 .footer_container {
position:fixed;
bottom: 0;
width: 100%;
background-color: blueviolet;
z-index: 999;

}

 .footer {
  color: #fff;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 25px 0;
 
}  